# ignore LaTex files
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.out

# system files
.DS_Store

# Julia packages
Manifest.toml

# Hoffman2 logs
experiments/hoffman/*/logs

# AW-Area51 logs
experiments/aw-area51/*/logs
